/* index.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f7f9; /* Приємний синій фон */
    color: #2a2a2a; /* Колір тексту */
  }
  
  a {
    color: #0073b1; /* Колір посилань, характерний для LinkedIn */
    text-decoration: none; /* Відсутність підкреслення у посилань */
  }
  
  a:hover {
    text-decoration: underline; /* Додавання підкреслення при наведенні */
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  header nav ul li {
    float: left;
  }
  
  header nav ul li a {
    display: block;
    color: #0073b1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  footer {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  .contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
  }
  
  .contact-form h2 {
    color: #0073b1;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #0073b1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005f8b;
  }
  